.map-container {
    padding: rem(30) 0;
    border-top: 1px dashed $gray;
    border-bottom: 1px dashed $gray;

    .card {
        border: 1px dashed $gray;
        padding: rem(30);
    }

    ul {
        font-size: rem(12);
        padding: rem(20) 0;

        li {
            display: flex;
            padding: rem(10) 0;
            justify-content: space-between;
            border-bottom: none;   
            
            &:not(:last-child) {
                border-bottom: 1px solid $black;
            }
        }
    }

    .info-window {
        text-align: center;
        padding: 0 0 rem(10) 0;
        h5 {
            font-style: italic;
            padding: rem(5) rem(20);
        }
        img {
            margin: rem(10) 0;
            border-radius: 100%;
            max-width: 150px;
            height: 150px;
            border: rem(10) solid $green
        }
        p {
            font-size: rem(14);
            margin-bottom: 0;    
        }

        a {
            color: #00aaff;
            padding: rem(10) 0;
            font-weight: bold;
        }
    }

    .filters {

        h4 {
            font-size: rem(15);
        }
        text-align: right;
        display: flex;
        margin: rem(20) 0;
        font-size: rem(15);

        .filter-container {
            display: flex;

            div {
                margin-left: rem(15);

                input {
                    margin-right: rem(5);
                }
            }


            .custom-radio input[type="radio"] {
                position: absolute;
                opacity: 0;
                cursor: pointer;
              }
            
              /* Estilo del contenedor del radiobutton */
              .custom-radio {
                display: inline-block;
                position: relative;
                padding-left: rem(25);
                margin-right: rem(10);
                cursor: pointer;
                font-size: rem(16);
                user-select: none;
              }
            
              /* Círculo personalizado */
              .custom-radio .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: rem(20);
                width: rem(20);
                background-color: #eee;
                border-radius: 50%;
                border: 2px solid #ccc;
              }
            
              /* Cambia el fondo del círculo cuando esté seleccionado */
              .custom-radio input[type="radio"]:checked ~ .checkmark {
                background-color: $green; /* Color al seleccionar (verde en este caso) */
                border-color: $green; 
              }
            
              /* Círculo interior que simula el puntito dentro del radiobutton */
              .custom-radio .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }
            
              /* Estilo del círculo interior cuando está seleccionado */
              .custom-radio input[type="radio"]:checked ~ .checkmark:after {
                display: block;
              }
            
              /* Estilo del círculo interior: pequeño y centrado */
              .custom-radio .checkmark:after {
                top: rem(3);
                left: rem(3);
                width: rem(10);
                height: rem(10);
                border-radius: 50%;
                background: white;
              }
        }
    }
}