.map-container {
    padding: rem(40) 0;
    border-top: 1px dashed $gray;
    border-bottom: 1px dashed $gray;

    .card {
        border: 1px dashed $gray;
        padding: rem(30);
    }

    ul {
        font-size: rem(12);
        padding: rem(20) 0;

        li {
            display: flex;
            padding: rem(10) 0;
            justify-content: space-between;
            border-bottom: none;   
            
            &:not(:last-child) {
                border-bottom: 1px solid $black;
            }
        }
    }

    .info-window {
        text-align: center;
        padding: 0 0 rem(10) 0;
        h5 {
            font-style: italic;
            padding: rem(5) rem(20);
        }
        img {
            margin: rem(10) 0;
            border-radius: 100%;
            max-width: 150px;
            height: 150px;
            border: rem(10) solid $green
        }
        p {
            font-size: rem(14);
            margin-bottom: 0;    
        }

        a {
            color: #00aaff;
            padding: rem(10) 0;
            font-weight: bold;
        }
    }
}